*{
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 80%;
    max-width: 800px;
    margin: auto;
}
h2{
    font-weight: 500;
}
header{
    display: flex;
    img{
        width: 100px;
        height: auto;
    }
    .logo-container{
        @include vertical-align;
    }
    .page-title{
        @include vertical-align;
        font-size: 17px;
        font-weight: 600;
        color: $gray
    }
}